# Z-Rapor Webservis
ZRapor servisi, mükelleflerin yeni veya eski nesil ÖKC cihazlarından alınan Z-Raporlarınını Gelir İdaresi Başkanlığına raporlanmasını sağlayan servistir.

<%= partial "includes/ortak/url" %>


## Dikkat Edilecek Hususlar
Uygulamanızı tasarlarken aşağıda ki bilgiler faydalı olacaktır:

1. **Kimlik Doğrulama (Authentication)** Webservisinde bulunan **Login** servisi ile oturum açarak session id alınacak. Session Id sistemimiz tarafında 8 saate kadar zaman aşımına uğramadığı için kullanıcı giriş yapınca session id alıp bütün kullanım süresinde aynı session id kullanabilirsiniz.
2. **LoadZReport** metodu ile tekil veya toplu Z-Rapor yüklemesi yapılır.
3. **GetZReportStatus** metodu ile gönderilen Z-Raporlarının durumları sorgulanabilir.
4. **GetZReport** metodu ile gönderilen Z-Raporlar tekrar istemciye çekilebilir veya son yüklenen Z-Rapor bilgisi sorgulanabilir.
4. **CancelZReport** metodu ile gönderilen Z-Raporlar iptal edilebilir. **İptal edilen Z-Raport tekrar yüklenmelidir.**
5. **Kimlik Doğrulama (Authentication)** Webservisinde bulunan **Logout** metodu ile kullanıcı mutabakat programını kapatınca oturum kapatılabilir.

## Z-Rapor Entegrasyon Kontrol Listesi
 Durum | Kontrol
 -------| ----------
**Evet / Hayır** | Oturum Açmak için **Kimlik Doğrulama (Authentication)** webservisinde ki **Login** metodu kullanıldı.


## İstemci (client) Örnek Projeler

Z-Rapor entegrasyonu için sunucu taraflı programlama diline uygun farklı istemci(client) örnekleri sunar. Bu istemcilerden programlama yapmak istediğiniz dile uygun olanı seçip test bilgileri ile kullanmaya başlayabilirsiniz.

<a href="/resource/client/izibiz-zrapor-soapui-client.zip" target="_blank"><img src="/images/icon_soapui.png" height="100" width="100"/></a>

<%= partial "includes/ortak/requestheader" %>
<%= partial "includes/zrapor/loadzreport" %>
<%= partial "includes/zrapor/getzreport" %>
