# İZİBİZ E-Defter Uygulaması

## Uygulamanın Özellikleri

* Platform bağımsız özelliği ile veritabanına erişerek doğrudan veya CSV formatında veri aktarımı desteklenmektedir
* Yaygın kullanılan muhasebe sistemleri ile tam uyumludur. Veritabanına erişilebilen bütün senaryoları desteklemektedir
* Yevmiye ve sıra numaralandırmasını ERP'den veya E-Defter programından yapabilme
* Kullanıcı yönetim ve yetkilendirme modülü ile sınırsız kullanıcı oluşturma ve yetkilendirme
* Defter Oluşturma
* Defter İmzalama
* Berat Oluşturma
* Berat İmzalama
* GIB’e Otomatik Berat Yükleme
* GIB’den Otomatik Berat İndirme
* Birden fazla firmanın e-Defter ihtiyacını tek kurulum ile yönetebilme
* Organizasyon yönetimi ile çoklu firma ve çoklu şube yönetimi desteklenmektedir
* Kolay arayüzü ve yüksek performans sayesinde hızlı e-defter üretme ve takip
* Doğrudan GİB entegrasyonu sayesinde program içerisinden online berat yükleme ve indirme
* Oluşturulan E-Defterlerin İzibiz sunucularında saklama özelliği
* Mali mühürün ortak bir sunucuda kurulumu yapılarak bir çok bilgisayarda kullanılması
* İmzalama yönteminde mali mühür yanında zaman damgası kullanımı tercih ederek verinin değişmezliğinin sağlanması
* Dönemde tarih aralığına göre defter oluşturma ve boyuta göre parçalama özelliği
* Kullanıcı hatalarını önleyen arayüzü sayesinde iş akışına göre butonların aktif olması
* Entegrasyon kaynağından aktarılan verilerin GİB standartlarına uygunluk kontrolü ve hatalı kayıt bazında kullanıcının uyarılması


## Örnek Verideseni

İZİBİZ E-Defter uygulaması platform bağımsızdır. Bundan dolayı verilerin kaynak ortamda programın beklediği formatta hazırlanması beklemektedir. Beklenen veri desen hakkında aşağıda detaylı bilgi paylaşılmıştır.

Hazırlanan veriler **CSV formatında** olarak veya **veritabanında View (Görünüm)** hazırlanarak programa aktarılabilir.

**Örnek Dosya İndir:** <a href="/resource/edefter/verideseni_ornek.csv" target="_blank">
                            <img src="/images/csv-icon.png" height="40" width="35"/>
                        </a>
<br><br>

**Alan Adı** | **Açıklama**
--------- | -----------
**detailref** |Detay satır referansı
**entryref** |	Bu alan muhasebe fişlerini gruplamak için kullandığımız bir alandır, bulunması zorunludur.
**Fişler** | hesaplanırken bu referans numarasına göre gruplanmaktadır. Bu alana, eğer ERP’de muhasebe fiş satır referans numaraları varsa onların yazılması gerekmekte. Eğer yoksa yevmiye madde numarası yani linenumbercounter yazılması gerekmekte.
**linenumber** |	Yevmiye madde numarası haricinde dönem başında 1’den başlayacak ve arada boşluk olmaksızın ardışık olacak şekilde yevmiye madde satır numarası
**linenumbercounter** |	Yevmiye madde no
**accmainid** |	Kebir kodu (muhasebe kodu ilk 3 hane)
**accmainiddesc** | Kebir kodu (muhasebe kodu ilk 3 hane) açıklaması
**accsubid** |	Muhasebe kodu
**accsubdesc** |	Muhasebe kod açıklaması
**amount** |Tutar (negatif değer olmamalı)
**debitcreditcode** |	Borç ise D, Alacak ise C
**postingdate** | Muhasebe fiş tarihi
**documenttype** | **invoice:** Fatura **check:** Çek  **voucher:** Senet  ** other:** other : Yukarıda sayılanların dışında varolan belgeler için **“other”** belge türü kullanılır ve bununda açıklaması (documenttypedescription) alanında yapılır.  Belgeler hakkında detaylı bilgi için **Önemli Hususlar** başlığını inceleyebilirsiniz.
**documenttypedesc**| *Doküman tipinin other olması durumunda bazı örnekler;* **Paymentmethod Banka;** Gelen Havaleler, Gönderilen Havaleler **Paymentmethod Nakit;** CH Tahsilat, CH Ödeme, Bankaya Yatırılan, Bankadan Çekilen, Gider Pusulası, Verilen Serbest Meslek Makbuzu, Alınan Serbest Meslek Makbuzu **Paymentmethod Teminat Mektubu;** Teminat Girişi,Teminat Çıkışı
**documentnumber** |	İlişkili belgenin numarası (Örn: Fatura numarası)
**documentreference** | Muhasebe fiş referans numarası, kullanılan sistemde böyle bir numara yoksa yevmiye no
**entrynumbercounter** |	Yevmiye madde no
**documentdate** | İlişkili belgenin tarihi (Örn: Fatura tarihi) yyyy-aa-gg formatında
**paymentmethod** | 	Çek, Senet, Nakit, Banka, Teminat Mektubu ya da boş
**detailcomment** | Muhasebe fişi satır açıklaması
**erpno** | Kullanılan sistemde firmaları birbirinden ayırt eden firma numarası, yoksa 001
**divisionno** |	Kullanılan sistemde işyerlerini birbirinden ayıran işyeri numarası, kağıt ortamında basılan defterlerde ayrı olarak basılıyorsa e-defter’de farklı bir işyeri numarasına sahip olmalı yoksa 0
**enteredby** | Muhasebe fişini giren kişinin ad soyad ilk harfi yada açık halde adı soyadı
**entereddate** | Muhasebe fişi kayıt tarihi
**entrynumber** |	Muhasebe fiş numarası, kullanılan sistemde böyle bir numara yoksa yevmiye no
**entrycomment** |	Muhasebe fişi açıklaması

<aside class="warning">
  Platform bağımsız e-defter uygulaması olduğumuz için Gelir İdaresi Başkanlığına gönderilecek verilerin hazırlanması mükellefin sorumluluğundadır.
Muhasebe programında GİB’in belirlediği doküman tipleri haricinde belge türü olması durumunda, bu belgelerin hangi belge türü ile ilişkilendirileceği konusunda mali müşavirinizden bilgi alabilirsiniz.
</aside>

## Önemli Hususlar

E-defter uygulamasına geçen mükelleflerin e-defteri oluşturacak kayıtların oluşturulması esnasında dikkat etmesi gereken konuları, e-defter belge tiplerinin neler olduğunu, e-defter alanlarının nasıl doldurulması gerektiğine değineceğiz.
Elektronik defter tutanlar, elektronik defterlerini oluşturdukları ve muhafaza ettikleri bilgi işlem sistemlerinin haczedilmesi veya bu sistemlere yetkili mercilerce el konulması halinde, durumu en geç üç iş günü içerisinde Başkanlık’a bildirmek zorundadırlar.

<aside class="notice">DİKKAT: Elektronik defter uygulamasında her bir belgeye ait bilgilerin, tek bir yevmiye kaydında gösterilmesi esastır.
</aside>


### Belge Tipi

Muhasebe kaydına esas teşkil eden işlem bir belgeye dayanıyorsa, mutlaka belge tipi alanının kullanılması gerekmektedir. Ancak muhasebe kaydına esas teşkil eden işlem bir belgeye dayanmıyorsa belge tipi alanı kullanılmamalıdır. Dolayısıyla muhasebe kaydına esas teşkil eden işlem bir belgeye dayanmıyorsa, belge türü, tarihi veya numarası gibi bilgiler verilemez. Örneğin, açılış-kapanış işlemleri belgeye dayalı olmayabilir.

Gelir İdaresi Başkanlığının yayımlandığı Yevmiye Defteri kılavuzunda aşağıdaki sekiz belge tipi tanımlanmıştır. Tabloda sayılan yedi belge tipinin dışında ki belgeler için **“Diğer”** belge türü kullanılır.

**Belge Tipi**	| **Esas Belge**
---------| ---------
**invoice** |	Fatura
**check**|	Çek
**voucher**|	Senet
**receipt**	|Makbuz
**shipment**|	Navlun
**order-vendor**|	Satıcı Sipariş Belgesi
**order-customer**|	Müşteri Sipariş Belgesi
**other**	|Diğer

### Perakende Satışı Fişi

Perakende satış fişi sayılan 7 belge içerisinde olmadığı için belge tipi diğer olarak, belge açıklaması da perakende satış fişi olarak seçilmelidir.

### Banka İşlemleri

Bilindiği üzere bankaya ait işlemlerde muhasebe kaydına esas belge bankadan verilen dekont olmaktadır. Dekontların e-Defter uygulamasında belge tipi **“Diğer”** ve belge açıklaması **“dekont”** olarak kaydı yapılır ve dekontun numara ve tarihinin de girilmesi zorunludur. Ancak dekont üzerinde belge numarası-tarihi yok ise, kullanılan muhasebe programının söz konusu işleme vermiş olduğu tarih ve numara, belge numarası ve tarihi olarak yazılabilir.

Eğer bankaya ait işlemler dekont bazında tek tek muhasebeleştirilemiyorsa, bu banka işlemleri günlük olarak, banka banka ayrıştırmak koşuluyla, her bir bankadan yapılan işlemler birer muhasebe fişinde işlenebilir. e-Defterde bu kayda esas belge olarak muhasebe fişi gösterilebilir. Bu muhasebe fişi e-defter uygulamasında belge tipi **“Diğer”** ve belge açıklaması **“Muhasebe Fişi”** olarak kaydı yapılır ve fişin numarası ve tarihi girilir.

### Masraf Listeleri

Gün içinde işletmenin ya da personelin yapmış olduğu giderlere ilişkin alınmış belgeler teknik kılavuzlarda sayılan belgelerden biriyse mutlaka belge tipi kılavuzda belirtildiği gibi olmalıdır. Örneğin, personelin yapmış olduğu giderler arasında belge olarak fatura varsa, bu fatura ayrı bir yevmiye kaydında belge türü **“invoice”** yani fatura olarak fatura belge tarih-numarası da yazılmak şartıyla kaydedilmelidir. Eğer yapılan giderle ilgili belge tipi, tablo 1’de sayılan ilk yedi belge tipinden biri değil ise bir masraf formu oluşturulup eDefter uygulamasında belge tipi **“Diğer”** ve belge açıklaması **“masraf formu”** olarak kaydı yapılır. Ayrıca bu masraf formunun numarası ve tarihinin de girilmesi zorunludur. Bu masraf formlarında matbu bir numara ve tarih olmadığı için, oluşturulacak her bir form için müteselsil bir numara ve formun oluşturulduğu günün tarihi üzerine yazılmalıdır. Bu masraf formunda yapılan giderlere ait belgelerin detayları yer almak zorundadır. Ayrıca bu masraf formu firma kaşesi ve imzasıyla matbu olarak ya da elektronik imza/mali mühür ile elektronik ortamda muhafaza edilmek zorundadır. Elektronik ortamda tutulacak belgelerin görüntülenebilir ve doğrulanabilir şekilde muhafaza ve ibraz edilmesinden, diğer matbu belgeler de olduğu gibi, mükellef sorumludur.


### Z raporu

Gün sonunda her bir yazar kasadan alınan Z raporu, muhasebe kaydında belge tipi **“Diğer”** ve belge açıklaması **“Z Raporu”** olarak kaydı yapılır. Ayrıca bu Z Raporu’nun numarası ve tarihinin de girilmesi zorunludur. Ancak gün içinde yapılan satışlarda Z Raporunun üzerinde yer alan ödeme yöntemlerine (nakit, kredi kartı, vb.) göre ayrıştırılmalıdır. Ödeme yöntemine isabet edecek KDV tutarlarının da ayrıştırılması ve her bir ödeme yönteminin farklı yevmiye maddelerinde gösterilmesi gerekmektedir.

### Çek Bordrosu

e-Defter uygulamasında kılavuzda sayılan tüm belge tiplerinde olduğu gibi, her bir çek belgesinin de ayrı yevmiye maddelerine kaydedilmesi esastır. Ancak çek bordrosuyla da kaydı mümkün olduğundan e-Defter uygulamasında da bu bordolar üzerinden, aynı alıcı veya satıcıya ait olmak şartıyla, birden fazla çek aynı yevmiye maddesinde kaydedilebilir. Ayrıca muhasebe kaydında belge tipi **“Diğer”** ve belge açıklaması **“Çek bordrosu”** olarak kaydı yapılır ve bu çek bordrosunun numarası ve tarihinin girilmesi zorunludur. Bu çek bordrosunda matbu bir numara ve tarih olmadığı için, oluşturulacak her bir bordro için müteselsil bir numara verilmeli ve bordronun oluşturulduğu günün tarihi üzerine yazılmalıdır. Her bir çek bordrosunda, çeklerin detayları yer almak zorundadır. Bu çek bordrosu firma kaşesi ve imzasıyla matbu olarak ya da elektronik imza/mali mühür ile elektronik ortamda muhafaza edilmek zorundadır. Elektronik ortamda tutulacak belgelerin görüntülenebilir ve doğrulanabilir şekilde muhafaza ve ibraz edilmesinden, diğer matbu belgeler de olduğu gibi, mükellef sorumludur.

### Senet Bordrosu

e-Defter uygulamasında kılavuzda sayılan tüm belge türlerinde olduğu gibi, her bir senet belgesinin de ayrı yevmiye maddelerine kaydedilmesi esastır. Ancak senet bordrosuyla da kaydı mümkün olduğundan e-Defter uygulamasında da bu bordolar üzerinden, aynı alıcı veya satıcıya ait olmak şartıyla, birden fazla senet aynı yevmiye maddesinde kaydedilebilir. Ayrıca muhasebe kaydında belge tipi **“Diğer”** ve belge açıklaması **“Senet bordrosu”** olarak kaydı yapılır ve bu senet bordrosunun numarası ve tarihinin girilmesi zorunludur. Bu senet bordrosunda matbu bir numara ve tarih olmadığı için, oluşturulacak her bir bordro için müteselsil bir numara verilmeli ve bordronun oluşturulduğu günün tarihi üzerine yazılmalıdır. Senet bordrolarında, senetlerin detayları yer almak zorundadır. Bu senet bordrosu firma kaşesi ve imzasıyla matbu olarak ya da elektronik imza/mali mühür ile elektronik ortamda muhafaza edilmek zorundadır. Elektronik ortamda tutulacak belgelerin görüntülenebilir ve doğrulanabilir şekilde muhafaza ve ibraz edilmesinden, diğer matbu belgeler de olduğu gibi, mükellef sorumludur

###Ücret Bordrosu

Firmalar çalışanları için aylık olarak oluşturacakları ücret bordrolarını, e-Defter uygulamasına aktarırken, tüm personel için oluşan bordroları bir listeye bağlayıp, belge tipi **“Diğer”** ve belge açıklaması **“Ücret Bordrosu İcmali”** olarak kaydedebilir. Ücret bordrosu icmalinin numara ve tarihinin girilmesi zorunludur. Ancak Ücret bordrosu icmalinde matbu bir numara ve tarih olmadığı için, oluşturulacak her bir icmal listesi için müteselsil bir numara verilmeli ve icmalin oluşturulduğu günün tarihi üzerine yazılmalıdır. Bu ücret bordrosu icmalinde her bir ücret bordrosunun detayları yer almalıdır. Ayrıca bu icmaller firma kaşesi ve imzasıyla matbu olarak ya da elektronik imza/mali mühür ile elektronik ortamda muhafaza edilmek zorundadır. Elektronik ortamda tutulacak belgelerin görüntülenebilir ve doğrulanabilir şekilde muhafaza ve ibraz edilmesinden, diğer matbu belgeler de olduğu gibi, mükellef sorumludur.


### Serbest Meslek Makbuzu

Serbest meslek erbabının, mesleki faaliyetlerine ilişkin her türlü tahsilatı için düzenlediği belge serbest meslek makbuzudur. Bu makbuz e-Defter kılavuzunda sayılan belgeler arasında yer alan makbuz ile karıştırılmamalıdır. Serbest meslek makbuzu sayılan belgeler arasında yer almadığı için belge tipi **“Diğer”** ve belge açıklaması **“serbest meslek makbuzu”** olarak kaydı yapılır. Ayrıca belgenin numarası ve tarihinin de girilmesi zorunludur.

<%= partial "includes/edefter/sematron" %>
